IOT_BACKEND_ENVIRONMENT=development
IOT_BACKEND_LOG_LEVEL=INFO

IOT_BACKEND_MQTT_HOST=localhost
IOT_BACKEND_MQTT_PORT=8883
IOT_BACKEND_MQTT_USE_TLS=true
IOT_BACKEND_MQTT_USERNAME=backend
IOT_BACKEND_MQTT_PASSWORD=CAMBIA_QUESTA_PASSWORD_MQTT
IOT_BACKEND_MQTT_CLIENT_ID=iot-backend-subscriber
IOT_BACKEND_MQTT_CA_FILE=../mqtt/certs/ca.crt

IOT_BACKEND_DATABASE_URL=postgresql+psycopg://iot_backend:CAMBIA_QUESTA_PASSWORD_POSTGRES@localhost:5432/progetto_iot
