IOT_BACKEND_ENVIRONMENT=development
IOT_BACKEND_LOG_LEVEL=INFO
IOT_BACKEND_AUTH_SECRET_KEY=CAMBIA_AUTH_SECRET_KEY_IN_PRODUZIONE
IOT_BACKEND_DEMO_AUTH_ENABLED=false
IOT_BACKEND_DEMO_AUTH_PASSWORD=CAMBIA_PASSWORD_DEMO_LOCALE
IOT_BACKEND_DEMO_DOCTOR_EMAIL=medico.demo@localhost.invalid
IOT_BACKEND_DEMO_CAREGIVER_EMAIL=caregiver.demo@localhost.invalid
IOT_BACKEND_DEMO_PATIENT_EMAIL=paziente.demo@localhost.invalid
IOT_BACKEND_DEMO_ADMIN_EMAIL=admin.demo@localhost.invalid

IOT_BACKEND_MQTT_HOST=localhost
IOT_BACKEND_MQTT_PORT=8883
IOT_BACKEND_MQTT_USE_TLS=true
IOT_BACKEND_MQTT_USERNAME=backend
IOT_BACKEND_MQTT_PASSWORD=CAMBIA_QUESTA_PASSWORD_MQTT
IOT_BACKEND_MQTT_CLIENT_ID=iot-backend-subscriber
IOT_BACKEND_MQTT_CA_FILE=../mqtt/certs/ca.crt

IOT_BACKEND_DATABASE_URL=postgresql+psycopg://iot_backend:CAMBIA_QUESTA_PASSWORD_POSTGRES@localhost:5432/progetto_iot
